<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>
        <textarea
          name="listing[description]"
          class="form-control"
          row="5"
          required
        >
<%=listing.description
          %></textarea
        >
        <div class="invalid-feedback">Enter vaild description</div>
      </div>

      <div class="mb-3">
        Oiginal listing image <br />
        <img src="<%= originalImageUrl %>" width="200px" />
      </div>

      <div class="mb-3">
        <lable for="image" class="form-label">Upload new image</lable>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <% for(categ of listing.category){ %>
      <p><%= categ %>&nbsp;&nbsp;</p>
      <% } %>

      <!-- Category Selection -->
      <div class="mb-3">
        <label for="category" class="form-label">Select Category</label>

        <select
          id="category"
          name="listing[category]"
          class="form-select border border-black border-opacity-50 mb-2"
          multiple
          style="font-size: 0.95rem"
        >
          <option value="Beachfront">Beachfront</option>
          <option value="Cabins">Cabins</option>
          <option value="Omg">OMG</option>
          <option value="Lake">Lake</option>
          <option value="Design">Design</option>
          <option value="Amazing Pools">Amazing pools</option>
          <option value="Farms">Farms</option>
          <option value="Amazing Views">Amazing views</option>
          <option value="Rooms">Rooms</option>
          <option value="Lakefront">Lakefront</option>
          <option value="Tiny Homes">Tiny homes</option>
          <option value="Countryside">Countryside</option>
          <option value="Treehouse">Treehouse</option>
          <option value="Tropical">Tropical</option>
          <option value="National Parks">National parks</option>
          <option value="Casties">Castles</option>
          <option value="Camping">Camping</option>
          <option value="Top Of The World">Top of the world</option>
          <option value="Luxe">Luxury</option>
          <option value="Iconic Cities">Iconic cities</option>
          <option value="Earth Homes">Earth homes</option>
        </select>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <lable for="price" class="form-label">Price</lable>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <lable for="country" class="form-label">Country</lable>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter the country name</div>
        </div>
      </div>

      <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter valid location</div>
      </div>

      <button class="btn btn-dark edit-btn mt-3 mb-4">Edit</button>
    </form>
  </div>
</div>
