<% layout("/layouts/boilerplate") %>

<div class="filters-main">
  <div id="filters">
    <div class="filter-width">
      <div class="filter">  
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-shelter"></i></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castle</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tents"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="filter-box">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="ri-equalizer-line">&nbsp;Filters</i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Filters</b></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">

          <h5>Type of place</h5>
          <p>Search rooms, entire homes or any type of place.</p>
          <span id="anytype-btn"><button>Any type</button><button>Room</button><button>Entire home</button></span>
          <hr>
          <h5>Price range</h5>
          <p>Nightly prices before fees and taxes</p>
          <!-- <img src="/images/rangebar.jpg" alt="" width="100%" height="100px"> -->

          <div class="price-range">
            <div class="bar" id="bar1"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar3"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
            <!-- Add more bars up to bar20 -->
            <div class="bar" id="bar20"></div>
            <div class="bar" id="bar21"></div>
          </div>

          <div class="container overflow-hidden text-center">
            <div class="row gx-5">
              <div class="col">
               <div class="p-3"><button id="min-btn">Minimum<p>&#8377;&nbsp;830</p></button></div>
              </div>
              <div class="col">
                <div class="p-3"><button id="min-btn">Maximum<p>&#8377;&nbsp;10000+</p></button></div>
              </div>
            </div>
          </div>
          <hr>
          <h5>Rooms and beds</h5>
          <p>Bedrooms</p>
          <div class="bedrooms">
            <p class="btn btn-dark">Any</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6+</p>
          </div>
          <p>Beds</p>
          <div class="bedrooms">
            <p class="btn btn-dark">Any</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6+</p>
          </div>
          <p>Bathrooms</p>
          <div class="bedrooms">
            <p class="btn btn-dark">Any</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6+</p>
          </div>
          <hr>
          <h5><strong>Top-tier stays</strong></h5>
          <div id="top-tier">
            <i class="fa-solid fa-award"></i>
            <p><b>Guest favourites</b></p>
            <p id="top-tier-p">The most loved homes on Wanderlust, according to guests</p>
          </div>
          <hr>
          <h5><strong>Property type</strong></h5>
          <div class="property">

            <div class="property-type">
              <i class="fa-solid fa-house"></i>
              <p>House</p>
            </div>
            <div class="property-type">
              <i class="fa-solid fa-building-flag"></i>
              <p>Flat</p>
            </div>
            <div class="property-type">
              <i class="fa-solid fa-house-chimney-window"></i>
              <p>Guests house</p>
            </div>
            <div class="property-type">
              <i class="fa-solid fa-building"></i>
              <p>Hotel</p>
            </div>
          </div>
          <hr>
          <h5><strong>Amentities</strong></h5>
          <p><b>Essentials</b></p>
          <div class="amentities">
          
            <div class="amentities-item">
            <p><input type="checkbox">&nbsp;&nbsp;Wifi</p>
            <p><input type="checkbox">&nbsp;&nbsp;Washing machine</p>
            <p><input type="checkbox">&nbsp;&nbsp;Air conditioning</p>
            <p><input type="checkbox">&nbsp;&nbsp;Dedicated workspace</p>
            <p><input type="checkbox">&nbsp;&nbsp;Hair dryer</p>
            </div>
            <div class="amentities-item">
              <p><input type="checkbox">&nbsp;&nbsp;Kitchen</p>
              <p><input type="checkbox">&nbsp;&nbsp;Dryer</p>
              <p><input type="checkbox">&nbsp;&nbsp;Heating</p>
              <p><input type="checkbox">&nbsp;&nbsp;TV</p>
              <p><input type="checkbox">&nbsp;&nbsp;Iron</p>
            </div>
          </div>

          <p><b>Features</b></p>
          <div class="amentities">
          
            <div class="amentities-item">
            <p><input type="checkbox">&nbsp;&nbsp;Pool</p>
            <p><input type="checkbox">&nbsp;&nbsp;Free Parking</p>
            <p><input type="checkbox">&nbsp;&nbsp;Cot</p>
            <p><input type="checkbox">&nbsp;&nbsp;Gym</p>
            <p><input type="checkbox">&nbsp;&nbsp;Breakfast</p>
            </div>
            <div class="amentities-item">
              <p><input type="checkbox">&nbsp;&nbsp;Hot tub</p>
              <p><input type="checkbox">&nbsp;&nbsp;EV charger</p>
              <p><input type="checkbox">&nbsp;&nbsp;King ded</p>
              <p><input type="checkbox">&nbsp;&nbsp;BBQ grill</p>
              <p><input type="checkbox">&nbsp;&nbsp;fireplace</p>
            </div>
          </div>
          <p><b>Locations</b></p>
          <div class="amentities">
            <div class="amentities-item">
            <p><input type="checkbox">&nbsp;&nbsp;Beachfront</p>
            </div>
            <div class="amentities-item">
              <p><input type="checkbox">&nbsp;&nbsp;Waterfront</p>
            </div>
          </div>
          <p><b>Safety</b></p>
          <div class="amentities">
            <div class="amentities-item">
            <p><input type="checkbox">&nbsp;&nbsp;Smoke allowed</p>
            </div>
            <div class="amentities-item">
              <p><input type="checkbox">&nbsp;&nbsp;Carbon mono-oxide</p>
            </div>
          </div>
          <hr>
          <h5><strong>Host language</strong></h5>
          <div class="amentities">
            <div class="amentities-item">
            <p><input type="checkbox">&nbsp;&nbsp;English</p>
            <p><input type="checkbox">&nbsp;&nbsp;German</p>
            </div>
            <div class="amentities-item">
              <p><input type="checkbox">&nbsp;&nbsp;French</p>
              <p><input type="checkbox">&nbsp;&nbsp;Japanese</p>
            </div>
          </div>
          <hr>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Dismiss</button> -->
          </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">    
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>

  </div>
</div>

<div class="responsive" style="margin-top: 20px;">
  <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2">    
    <label class="form-check-label" for="flexSwitchCheckDefault2">Display total after taxes</label>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <div id="container">
        <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      </div>
      
      <!-- heart -  &#9829; -->
      <div class="card-img-overlay"><i class="ri-heart-fill"></i></div>
      <div class="card-body">
        <p class="card-text">

          <strong><%= listing.title %></strong><br><span style="color: grey;"><%= listing.country %></span>
          <div class="price" style="margin-top: -12px;">&#8377; <%= listing.price.toLocaleString("en-IN") %> night<br></div>
          <span class="tax-info" style="text-decoration: underline;">&#8377; <%= (listing.price*1.18).toLocaleString("en-IN") %> &nbsp; Includes 18% GST </span>
          <i class="tax-info2" style="text-decoration: underline;">&#8377; <%= (listing.price*1.8).toLocaleString("en-IN") %> &nbsp; Includes 18% GST </i>

        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let price = document.getElementsByClassName("price");
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo) {
      if(info.style.display != "inline") {
        info.style.display = "inline";
        info.style.fontWeight = "bold";
        info.style.color = "crimson";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>

<script>
  let taxSwitch2 = document.getElementById("flexSwitchCheckDefault2");
  taxSwitch2.addEventListener("click",()=>{
    let taxInfo2 = document.getElementsByClassName("tax-info2");
    for(info of taxInfo2) {
      if(info.style.display != "inline") {
        info.style.display = "inline";
        info.style.fontWeight = "bold";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>

<script>
  const bars = document.querySelectorAll(".bar");

  // Set the heights for each bar representing the price range
  const prices = [
  10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10,
  5,
  ];
  // Adjust prices as needed
  bars.forEach((bar, index) => {
  bar.style.height = prices[index] + "px";
  });
</script>