<% layout("/layouts/boilerplate") %>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>
<div class="row mt-3" id="show-body">
  <div class="col-8 offset-3">
    <h3 id="lis-tit"><%= listing.title %></h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text mt-2">
        Hosted by <i><%= listing.owner.username %></i>
      </p>
      <p class="card-text"><b>Description : </b><%= listing.description %></p>
      <p class="card-text">
        <b>Cost : </b>
        &#8377; <%= listing.price.toLocaleString("en-IN") %> &nbsp;/ night
      </p>
      <p class="card-text"><b>Place : </b><%= listing.location %></p>
      <p class="card-text"><b>Country : </b><%= listing.country %></p>
    </div>
  </div>
  <br />
  <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
  <div class="btns mb-5" style="margin-left: 10px">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
      >Edit</a
    >

    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% } %>

  <!--------------------------- Review start here ------------------------------->

  <div class="col-8 offset-3 mb-3">
    <% if(currUser) { %>
    <hr class="hrshow" />
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label"><i id="rating">Rating</i></label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3 mt-3" id="comments">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="25"
          rows="4"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>

    <% } %> <% if(listing.reviews.length > 0) { %>
    <div class="row">
      <p class="allreview">All Reviews</p>
      <% for(review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-2" id="card-body">
        <div class="card-body">
          <h5 class="card-title mt-2">@<%= review.author.username %></h5>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text mb-4"><%= review.comment %></p>
          <% if(currUser && currUser._id.equals(review.author._id)) {%>
          <form
            class="mb-3"
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <!-----------------= review end =------------------->

  <!--------------------------- Offers start --------------------------->

  <div class="col-8 offset-3 my-5">
    <hr class="hrshow" />
    <h4>What this place offers</h4>
    <div class="offers">
      <i class="ri-restaurant-line"><span> Kitchen</span></i>
      <i class="ri-car-fill"><span> Parking</span></i>
      <i class="ri-t-shirt-air-fill"><span> Air conditioning</span></i>
      <i class="ri-tv-2-line"><span> TV</span></i>
      <i class="ri-vidicon-line"><span> Security cameras</span></i>
      <i class="ri-wifi-line"><span> Wifi</span></i>
      <i class="ri-steam-fill"><span> Gaming</span></i>
    </div>
    <div class="offers">
      <button
        id="offers"
        type="button"
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Show all 50 amenities
      </button>
      <!-- Button trigger modal -->
      <!-- <button
        id="offers"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Launch demo modal
      </button> -->

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                What this place offers
              </h1>
              <!-- <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button> -->
            </div>
            <div class="modal-body">
              <ul>
                <h5>Scenic views</h5>
                <li>Lake view</li>
                <li>Mountain view</li>
                <li>Pool view</li>
                <hr />
              </ul>
              <ul>
                <h5>Bathrooms</h5>
                <li>Cleaning products</li>
                <li>Shampoo</li>
                <li>Hot Water</li>
                <hr />
              </ul>
              <ul>
                <h5>Bedroom and laundry</h5>
                <li>Essentials</li>
                <li>Hangers</li>
                <li>Bed linen</li>
                <hr />
              </ul>
              <ul>
                <h5>Entertainment</h5>
                <li>TV with standard cable/satellite</li>
                <li>Sound system with Bluetooth and aux</li>
                <li>Pool table</li>
                <hr />
              </ul>
              <ul>
                <h5>Outdoor</h5>
                <li>Patio or balcony</li>
                <li>Garden</li>
                <li>Hammock</li>
                <li>Firpit</li>
                <li>BBQ grill</li>
                <hr />
              </ul>
              <ul>
                <h5>Kitchen and dining</h5>
                <li>Dishes and cutlery</li>
                <li>Barbecue utensils</li>
                <li>Dining table</li>
                <li>Freezer</li>
                <hr />
              </ul>
              <ul>
                <h5>Locations Features</h5>
                <li>Waterfront</li>
                <p>Right next to a body of water</p>
                <li>Lake access</li>
                <p>Guests can get to a lake using a path or dock</p>
                <li>Private entrance</li>
                <p>Separate street or building entrance</p>
                <hr />
              </ul>
              <ul>
                <h6>and many more...</h6>
              </ul>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-dark"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <!-- <button type="button" class="btn btn-outline-dark">
                Save changes
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hrshow" />
  </div>

  <!------------------= Offers end =----------------->

  <!------------------------- Services start -------------------------------->

  <div class="col-8 offset-3 my-5" id="services">
    <h4>Add-on services</h4>
    <p>
      After booking this home, a trip designer can arrange any of these add-on
      services.
    </p>
    <div class="offers">
      <i class="ri-flight-takeoff-fill"><span> Airport Transfer</span></i>
      <i class="ri-goblet-line"><span> Butler</span></i>
      <i class="ri-luggage-cart-fill"><span> Pre-stocking</span></i>
      <i class="ri-hand-sanitizer-fill"><span> Cleaning</span></i>
    </div>
    <p>Not seeing something that you would like to order?</p>

    <div class="services-offer">
      <!-- Button trigger modal -->
      <button
        id="offers"
        type="button"
        class="btn btn-outline-danger"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Message a trip designer
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Owned by <%= listing.owner.username %>
              </h1>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="johnduke19@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Write your requirments below</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                data-bs-dismiss="modal"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hrshow" />
  </div>

  <!-----------------= services end =------------------->

  <!-------------------------- Map Start -------------------------------->

  <div class="col-8 offset-3 mb-3">
    <h4 class="maph3">Where you’ll be</h4>
    <p
      class="card-text maph3"
      id="location-p"
      style="margin-top: 10px; font-weight: 100 !important"
    >
      <%= listing.location %>, <%= listing.country %>
    </p>
    <div style="height: 20px"></div>
    <div id="map"></div>
  </div>

  <!-------------------- Map End ----------------------->

  <!-------------------- hosted start ---------------------->

  <div id="hosted">
    <div class="hosted">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="hosted-details">
      <p>Hosted by <%= listing.owner.username %></p>
      <p>Email : <%= listing.owner.email %></p>
      <p id="host-description">
        Superhosts are experienced, highly rated hosts who are committed to
        providing great stays for guests.
      </p>
      <div id="response-rt">
        <p>Response rate : 100%</p>
        <p style="margin-top: -14px">Response time : within an hour</p>
      </div>
      <span
        ><i class="ri-verified-badge-line">Identity Verified</i>
        <i class="ri-medal-line">Superhost</i></span
      >
      <button class="mx-auto btn btn-warning">Contact host</button>
    </div>
  </div>
  <!-------------------- hosted end ---------------------->
</div>

<script src="/js/map.js"></script>
